<!DOCTYPE html>
<html>
    <head>
        <%- include("./header/mainheader", { title: "404" }); -%>
        <%- include("./header/back"); -%>
    </head>
    <body>
        <h3>404'd xd ayylmao</h3>
    </body>
</html>