<!DOCTYPE html>
<html>
    <head>
        <% include ./header/mainheader %>
        <% include ./header/back %>
        <style>body{background-color: lavenderblush;}</style>
    </head>
    <body>
        
    </body>
</html>