<!DOCTYPE html>
<html>
    <head>
        <%- include("../header/mainheader", { title: "5beam" }); -%>
    </head>
    <body>
        <%- include("../header/mainbody"); -%>
        <h2>Links</h2>
        <a href="/browse">
            <li>Level Browser <img src="/favicon.ico" width="15px" height="15px"></li>
        </a>
        <a href="/player">
            <li>Level Player <img src="/favicon.ico" width="15px" height="15px"></li>
        </a>
        <%
        if (login) {%>
        <a href="/upload.html">
            <li>Upload <img src="/favicon.ico" width="15px" height="15px"></li>
        </a>
        <%
        } else {%>
        <a href="/login">
            <li>Login <img src="/favicon.ico" width="15px" height="15px"></li>
        </a>
        <%
        }
        %>
        <a href="https://github.com/Zolo101" target="_blank">
            <li>Zelo101's GitHub <svg class="octicon octicon-mark-github v-align-middle" height="16" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></li>
        </a>
        <a href="https://github.com/meisels" target="_blank">
            <li>imaperson's GitHub <svg class="octicon octicon-mark-github v-align-middle" height="16" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></li>
        </a>
        <a href="https://github.com/meisels/5beam" target="_blank">
            <li>Website Source <svg class="octicon octicon-mark-github v-align-middle" height="16" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></li>
        </a>
        <a href="https://github.com/meisels/5beam-desktop" target="_blank">
            <li>Player Source <svg class="octicon octicon-mark-github v-align-middle" height="16" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></li>
        </a>
        <br>
        What the difficulty numbers mean:
        <table>
            <tr>
                <th>Number</th>
                <th>Meaning</th>
            </tr>
            <tr style="background-color: white">
                <td>0</td>
                <td>None / Not needed</td>
            </tr>
            <tr style="background-color: greenyellow">
                <td>1</td>
                <td>Easy</td>
            </tr>
            <tr style="background-color: yellow">
                <td>2</td>
                <td>Normal</td>
            </tr>
            <tr style="background-color: orange">
                <td>3</td>
                <td>Difficult</td>
            </tr>
            <tr style="background-color: orangered">
                <td>4</td>
                <td>Hard</td>
            </tr>
            <tr style="background-color: magenta;">
                <td>5</td>
                <td>Insane</td>
            </tr>
            <tr style="background-color: blueviolet">
                <td>6</td>
                <td>Extreme</td>
            </tr>
            <tr style="background-color: darkred">
                <td>7</td>
                <td>Borderline Impossible</td>
            </tr>
        </table>
        <%- include("../header/mainfooter"); -%>
    </body>
</html>