<!DOCTYPE html>
<html>
    <head>
        <% include ../header/mainheader %>
        <% include ../header/back %>
        <style>body{background-color: darkgray;}</style>
    </head>
    <!-- <body>
        <h2>Rules:</h2>
        <p>1. Your file must be a levelpack file. Other files <b>will</b> be deleted.</p>
        <p>2. Filesize limits are: Levelpacks = 500KB, Mods = 1MB</p>
        <p>3. Files must not have inappropiate content.</p>
        <p>4. <b>(5BHTML ONLY) </b> Levelpack files must follow this <a href="https://gist.github.com/Zolo101/36ae33e5dd15510a2cb41e942dbf7044">structure</a>, at the latest version.</p>
        <p>5. <b>(5BHTML ONLY) Your file must be a json file.</b></p>
        <br>
        <h2>Notices:</h2>
        <p>For now, if you want your file deleted, you can DM me on discord, Zelo101#0138.</p>

        <form method="POST" action="/upload"
        ref="uploadForm"
        enctype="multipart/form-data">
            <h2>Uploading process:</h2>
            <label for="uploadfile">Upload your file:</label>
            <input name="uploadfile" type="file">
            <br>
            <label for="type">Type of levelpack:</label>
            <select name="type" id="typeSelection">
                <option style="background-color: orange;" value="5b" selected>5b Levelpack</option>
                <option style="background-color: greenyellow" value="5bhtml">5bHTML Levelpack</option>
                <!-- <option value="levelpack">Levelpack</option> -->
                <!-- <option value="mod">Mod</option>
            </select>
            <br>
            <div id="5binfo">
                <label for="author">Author:</label><input type="text" name="author" placeholder="John Doe...">
                <br>
                <label for="name">Name:</label><input type="text" name="name" placeholder="Untitled Levelpack">
                <br>
                <label for="description">Description:</label>
                <textarea 
                    type="text" 
                    name="description" 
                    placeholder="Description... (Max 1024 characters)" 
                    maxlength="1024"
                ></textarea>
                <br>
            </div>
            <label for="difficulty">Difficulty:</label>
            <select name="difficulty" id="difficultySelection">
                <option style="background-color: white" value="0" selected>None</option>
                <option style="background-color: greenyellow" value="1">Easy</option>
                <option style="background-color: yellow" value="2">Normal</option>
                <option style="background-color: orange" value="3">Difficult</option>
                <option style="background-color: orangered" value="4">Hard</option>
                <option style="background-color: magenta;" value="5">Insane</option>
                <option style="background-color: blueviolet" value="6">Extreme</option>
                <option style="background-color: darkred" value="7">Borderline Impossible</option>
            </select>
            <br><br>
            <input type="submit" value="Upload!">
        </form>
    <script src="javascripts/upload.js"></script>
    </body> -->
</html>