<title><%= title %></title>
<link rel="icon" href="https://5beam.5blevels.com/favicon.ico"/>
<link rel="stylesheet" href="https://5beam.5blevels.com/style.css"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="5beam">
<meta name="author" content="Zelo101 and imaperson">
<meta name="description" content="5beam database.">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>