<br><p>Version <img src="https://5beam.5blevels.com/favicon.ico" width="15px" height="15px"> // Last updated August 15, 2021 // Design and idea by Zelo101 // Code by imaperson</p>


<!-- <body>
    <h1>5beam</h1>
    <ul class="navbar">
      <a href="/" style="background-color: white">Home</a>
      <a href="/flashlevel" style="background-color: lavender;">5b Levelpacks</a>
      <a href="/level" style="background-color: papayawhip;">5bHTML Levelpacks</a>
      <%
      if (login) {%>
        <a href="/upload" style="background-color: darkgray;">Upload Levelpack</a>
        <a href="/logout" style="outline: none">Log Out</a>
      <%
      } else {
      %>
        <a href="/login" style="outline: none">Log In</a>
      <%
      }
      %>
    </ul>
  </body> -->